* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Space Grotesk', sans-serif;
}
/* settaggi generici */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-b {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.wrap {
    flex-wrap: wrap;
}
.overflow-auto {
    overflow: auto;
}
/* sezione header */
nav {
    height: 70px;
    background-color: aqua;
    position: sticky;
    display: flex;
}
.navsx .navdx {
    margin-top: 50%;
}
.navdx {
    flex-basis: 49%;
}
.navsx {
    flex-basis: 49%;
}
a {
    text-decoration: none;
    padding: 20px;
}